<p>
    Pour commencer :
</p>
<p>
    Téléchargez l'extension de navigateur Bitwarden (ou l'application pour Smartphone)
</p>
<p>
    Demandez à un·e des animateur·ice·s les accès.
</p>
<p>
    Accédez au fichier <a href="https://use01.thegood.cloud/apps/onlyoffice/3786330?filePath=%2F0.LISEZ%20MOI.docx">LISEZ MOI.doc</a>
</p>
