<div style="margin-left:20%;margin-right:20%">
    <h1>La Fourmilière Strabourg</h1>

    <h2>Les fourmissions à venir !</h2>

    <iframe class="airtable-embed" src="https://airtable.com/embed/shrrZbakt2pn9jiTP?backgroundColor=blue&layout=card&viewControls=on" frameborder="0" onmousewheel="" width="100%" height="533" style="background: transparent; border: 1px solid #ccc;"></iframe>

    <h2>Inscription à l'une des fourmissions</h2>

    <script src="https://static.airtable.com/js/embed/embed_snippet_v1.js"></script><iframe class="airtable-embed airtable-dynamic-height" src="https://airtable.com/embed/shryWLBeOnsFZ2MyZ?backgroundColor=blue" frameborder="0" onmousewheel="" width="100%" height="533" style="background: transparent; border: 1px solid #ccc;"></iframe>
</div>
